.navbar{
    display: flex;
    width: 110%;
    height: 40px;
    background-color: #192A56;
    position: fixed;
    font-size: 20px;
    top: 14%;
    border: 0.1px solid #cccccc;
    padding: 0px 50px;
    margin-left: -10px;
}

.navbar a, .navbar .dropbtn{
    padding: 6px 36px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar a:hover, .dropbtn:hover{
  
  transform: skew(1.1);
}
.dropdown {
    max-height: 500px;
  }
  .dropbtn{
    border: inherit; 
    color: white;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #192A56;
    width: 180px;
    height: inherit;
    font-size: 13px;
    
    
  }
  .dropdown:hover .dropdown-content{
    display:block;
    z-index:99999;
    justify-content: space-evenly;
  }
  .dropdown-content a {
    float: none;
    display: block;
    justify-content:center;  
    color: white;
    padding: 4px 5px;
    background-color: #58bcff;
    text-decoration: none;
    margin: 2px;
    margin-top: 1px;
  
  }
  
  .dropdown-content a:hover {
    border: 0.1px solid #1188dd;
    background-color: #0761c7;
  }
  #searchbar{
    padding: 0;
    margin: 0px 190px;
    border-radius: 5px;
    margin-right: 110px;
  }