form{
  height: 95%;
}
.searchbar{
    width: 500px;
    height: 97%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
  .btn{
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 10px;
    cursor: pointer;
    height: 100%;
    margin-left: 2px;
  }