.App {
  text-align: center;
}
.heading {
  background-color: #192A56;
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 999999;
}

.heading h1 {
  text-align: center;
  margin-top: 0.5%;
  font-size: 50px;
  color: white;
}
